{% extends 'MetricReportBundle::Default/index.html.twig' %}

{% block content %}
{{ parent() }}
<center>
{% set idroom = app.session.get('idroom') %}
{% set idrack = app.session.get('idrack') %}
    <table>
        <tr>
            <td colspan="2" align="center">
                rack level: {{ idroom }}/{{ idrack }}
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th colspan="2">Energy-based metrics</th>
        </tr>
        <tr>
            <td class="metricName">Energy</td>
            <td>{{ metrics['energy'] }} Wh</td>
        </tr>
        <tr>
            <td class="metricName">Productivity</td>
            <td>{{ metrics['productivity'] }} (useful work)/Wh</td>
        </tr>
    </table>
    <table>
        <tr>
            <th colspan="2">Heat aware metrics</th>
        </tr>
        <tr>
            <td class="metricName">Cooling index (low)</td>
            <td>
                Min: {{ metrics['coolIndLowMin'] }} %<br>
                Avg: {{ metrics['coolIndLowAvg'] }} %<br>
                Max: {{ metrics['coolIndLowMax'] }} %
            </td>
        </tr>
        <tr>
            <td class="metricName">Cooling index (high)</td>
            <td>
                Min: {{ metrics['coolIndHiMin'] }} %<br>
                Avg: {{ metrics['coolIndHiAvg'] }} %<br>
                Max: {{ metrics['coolIndHiMax'] }} %
            </td>
        </tr>
        <tr>
            <td class="metricName">Imbalance of node-groups temperatures</td>
            <td>
                Min: {{ metrics['tempImbMin'] }} %<br>
                Avg: {{ metrics['tempImbAvg'] }} %<br>
                Max: {{ metrics['tempImbMax'] }} %
            </td>
        </tr>
    </table>
</center>
{% endblock %}
